APScheduler==3.6.3
asgiref==3.3.1
bleach==3.2.1
certifi==2020.12.5
chardet==4.0.0
Django==3.1.4
django-cors-headers==3.6.0
djangorestframework==3.12.2
djangorestframework-simplejwt==4.6.0
idna==2.10
packaging==20.8
Pillow==8.1.0
PyJWT==2.0.0
pyparsing==2.4.7
python-dotenv==0.15.0
pytz==2020.4
requests==2.25.1
six==1.15.0
sqlparse==0.4.1
tzlocal==2.1
urllib3==1.26.2
webencodings==0.5.1

# TODO: Add https://github.com/jazzband/django-auditlog for action logging
