{% extends "template.html" %}
{% load filters %}

{% block content %}
<tr>
    <td align="left" style="font-size:0px;padding:10px 25px;word-break:break-word;">
        <div style="font-family:Tahoma;font-size:18px;line-height:1;text-align:left;color:#111827;">
            You are receiving this email to inform you that you have not fulfilled your quarterly activity
            requirements as per General Policy P0001, Chapter 3, Section 3. This may put you at risk for
            removal from the Houston ARTCC controller roster.
        </div>
    </td>
</tr>
<tr>
    <td align="left" style="font-size:0px;padding:10px 25px;word-break:break-word;">
        <div style="font-family:Tahoma;font-size:18px;line-height:1;text-align:left;color:#111827;">
            Please sign in at <a href="https://houston.center/dashboard/status">https://houston.center/dashboard/status</a>
            to see your current status for the quarter.
        </div>
    </td>
</tr>
{% endblock %}
