{% extends "template.html" %}
{% load filters %}

{% block content %}
<tr>
    <td align="left" style="font-size:0px;padding:10px 25px;word-break:break-word;">
        <div style="font-family:Tahoma;font-size:18px;line-height:1;text-align:left;color:#111827;">
            <p>You have received feedback for a recent controlling session. Here are the details:</p>
            <ul>
                <li><b>Rating:</b> {{ feedback.rating }}</li>
                {% if feedback.pilot_callsign is not None %}
                    <li><b>Pilot:</b> {{ feedback.pilot_callsign }}</li>
                {% endif %}
                {% if feedback.event is not None %}
                    <li><b>Event:</b> {{ feedback.event.name }}</li>
                {% endif %}
                <li><b>Comments:</b> {{ feedback.comments }}</li>
            </ul>
        </div>
    </td>
</tr>
{% endblock %}
