{% extends "template.html" %}
{% load filters %}

{% block content %}
<tr>
    <td align="left" style="font-size:0px;padding:10px 25px;word-break:break-word;">
        <div style="font-family:Tahoma;font-size:18px;line-height:1;text-align:left;color:#111827;">
            Your request for a leave of absence has been rejected by the ARTCC administration for the following reason:
        </div>
    </td>
</tr>
<tr>
    <td align="left" style="font-size:0px;padding:10px 25px;padding-left:40px;word-break:break-word;">
        <div style="font-family:Tahoma;font-size:18px;line-height:1;text-align:left;color:#111827;">
            {{ reason }}
        </div>
    </td>
</tr>
{% endblock %}
