{% extends "template.html" %}
{% load filters %}

{% block content %}
<tr>
    <td align="left" style="font-size:0px;padding:10px 25px;word-break:break-word;">
        <div style="font-family:Tahoma;font-size:18px;line-height:1;text-align:left;color:#111827;">
            You have been placed on a leave of absence. You are not expected to fulfill currency requirements
            during your leave, however, you may still be expected to fulfill them by the end of the quarter.
        </div>
    </td>
</tr>
<tr>
    <td align="left" style="font-size:0px;padding:10px 25px;word-break:break-word;">
        <div style="font-family:Tahoma;font-size:18px;line-height:1;text-align:left;color:#111827;">
            As a reminder, your LOA will be in effect from <b>{{ loa.start|date:'N j, Y' }}</b> until <b>{{ loa.end|date:'N j, Y' }}</b>.
        </div>
    </td>
</tr>
{% endblock %}
