{% extends "template.html" %}
{% load filters %}

{% block content %}
<tr>
    <td align="left" style="font-size:0px;padding:10px 25px;word-break:break-word;">
        <div style="font-family:Tahoma;font-size:18px;line-height:1;text-align:left;color:#111827;">
            Welcome back from your leave of absence!
        </div>
    </td>
</tr>
<tr>
    <td align="left" style="font-size:0px;padding:10px 25px;word-break:break-word;">
        <div style="font-family:Tahoma;font-size:18px;line-height:1;text-align:left;color:#111827;">
            You are now subject to quarterly currency requirements. If your leave impacts your ability to meet these
            requirements by the end of the quarter, please reach out to the ATM or DATM through Discord or by sending
            an email to management@houston.center to avoid being erroneously removed from the roster.
        </div>
    </td>
</tr>
{% endblock %}
