{% extends "template.html" %}
{% load filters %}

{% block content %}
<tr>
    <td align="left" style="font-size:0px;padding:10px 25px;word-break:break-word;">
        <div style="font-family:Tahoma;font-size:18px;line-height:1;text-align:left;color:#111827;">
            Your training session on <b>{{ session.start|date:'N j, Y' }}</b> with <b>{{ session.instructor.full_name }}</b> has been cancelled.
            Please contact your instructor if you believe this was a mistake.
        </div>
    </td>
</tr>
{% endblock %}
