{% extends "template.html" %}
{% load filters %}

{% block content %}
<tr>
    <td align="left" style="font-size:0px;padding:10px 25px;word-break:break-word;">
        <div style="font-family:Tahoma;font-size:18px;line-height:1;text-align:left;color:#111827;">
            Your training request has been picked up by a member of training staff and a training session has been scheduled.
        </div>
    </td>
</tr>
<tr>
    <td align="left" style="font-size:0px;padding:10px 25px;word-break:break-word;">
        <div style="font-family:Tahoma;font-size:18px;line-height:1;text-align:left;color:#111827;">
            <p>Here are the details of the session:</p>
            <ul>
                <li><b>Instructor:</b> {{ session.instructor.full_name }}</li>
                <li><b>Date:</b> {{ session.start|date:'N j, Y' }}</li>
                <li><b>Start:</b> {{ session.start|date:'H:i' }}z</li>
                <li><b>End:</b> {{ session.end|date:'H:i' }}z</li>
                <li><b>Position:</b> {{ session.position }}</li>
                <li><b>Type:</b> {{ session.get_type_display }}</li>
                <li><b>Level:</b> {{ session.get_level_display }}</li>
            </ul>
        </div>
    </td>
</tr>
{% endblock %}
